<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singe Page App</title>
    <style></style>
    <script>
        
        window.onpopstate = function(event) {
            console.log(event.state.section);
            showSection(event.state.section);
        }

        function showSection(section) {
            fetch(`/sections/${section}`)
            .then(response => response.text())
            .then(text => {
                console.log(text);
                document.querySelector('#content').innerHTML = text;
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = function() {
                    const section_value = this.dataset.section; // this sets the section button value equal to section variable
                    history.pushState({section: section_value}, "", `section${section_value}`);
                    showSection(section_value);
                }
            })
        })

    </script>
</head>
<body>
    <h1>Hello! Which section would you like to see?</h1><br>
    <button data-section="1">S1</button>
    <button data-section="2">S2</button>
    <button data-section="3">S3</button>
    
    <div id="content"></div>

</body>
</html>